{
  "extends": [
    "@rocketseat/eslint-config/node"
  ],
  "plugins": [
    "simple-import-sort"
  ],
  "rules": {
    "camelcase": "off",
    "no-useless-constructor": "off",
    "simple-import-sort/imports": "error"
  }
}